:root {
  --body-bg-color: #eee6e1;
  --body-color: #6d5346;
  --font-system: 'Open Sans';
  --hr-border-color: #ded1cc;
  --link-color: #ef7310;
  --link-color-hover: #d55528;
  --headings-color: #502513;
  --headings-margin-bottom: var(--margin-lg);
  --headings-font-weight: 700;
  --headings-font-family: 'Bitter';
  --state-primary: #ef7310;
  --state-warning: #ffc31b;
}

h1, h2 {
  border-bottom: 1px solid #ded1cd;
  padding-bottom: var(--margin-sm);
}

#header {
  height: 40vh;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  margin-bottom: 5rem;
}

#header img {
  margin-top: 7vh;
  width: 370px;
  max-width: 90%;
}

#header p {
  width: 500px;
  max-width: 90%;
  margin: 0 auto 0.8rem;
}

.doc-table {
  background-color: #f5eee9;
  border-radius: 4px;
}

.doc-table td,
.doc-table th {
  border-color: #eadfd7;
}

.doc-code {
  background-color: #fff;
  color: #000;
}

.menu {
  border-right: 2px solid #ded1cd;
  padding-right: 20px;
}
