:root {
  --body-bg-color: #eee6e1;
  --body-color: #6d5346;
  --font-system: 'Open Sans';
  --hr-border-color: #ded1cc;
  --link-color: #ef7310;
  --link-color-hover: #d55528;
  --headings-color: #502513;
  --headings-margin-bottom: var(--margin-lg);
  --headings-font-weight: 700;
  --headings-font-family: 'Bitter';
  --state-primary: #ef7310;
  --state-warning: #ffc31b;
}

h1, h2 {
  border-bottom: 1px solid #ded1cd;
  padding-bottom: var(--margin-sm);
}

h2 {
  margin-top: var(--margin-xl);
}

h2:first-child {
  margin-top: 0;
}

#header {
  height: 40vh;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  margin-bottom: 5rem;
  min-height: 370px;
}

#header img {
  margin-top: 6%;
  width: 370px;
  max-width: 90%;
}

#header p {
  width: 500px;
  max-width: 90%;
  margin: 0 auto 0.8rem;
}

.doc-table {
  background-color: #f5eee9;
  border-radius: 4px;
}

.doc-table td,
.doc-table th {
  border-color: #eadfd7;
}

.doc-code {
  background-color: #fff;
  color: #000;
}

.menu {
  border-right: 2px solid #ded1cd;
  padding-right: 20px;
}

pre code {
  padding: 0;
}

body .variables {
  background: #f5eee8!important;
}

body .variables code {
  color: #825949;
  font-size: 14px;
}

body .variables .token.punctuation {
  color: #d2cac4;
}

body .variables .token.function {
  color: #1584de;
}

body .variables .token.property,
body .variables .token.boolean,
body .variables .token.number,
body .variables .token.constant,
body .variables .token.symbol,
body .variables .token.attr-name,
body .variables .token.deleted {
  color: #e47d1c;
}

body .variables .token.comment,
body .variables .token.prolog,
body .variables .token.doctype,
body .variables .token.cdata {
  color: #b1a7a1;
}

#slotbody {
  min-height: 500px;
}

#slotbody.loader-bg::before {
  display: block;
  background-color: var(--body-bg-color);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.8;
}

.error-header {
  border: 0;
  margin-top: 100px;
}
