<h2 id="alerts">Alerts</h2>

<div class="row">
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">default</code>
    <div class="mt-sm">
      <div class="alert text-sm mb-0">Code never lies, comments sometimes do</div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.alert-primary</code>
    <div class="mt-sm">
      <div class="alert text-sm alert-primary mb-0">Code never lies, comments sometimes do</div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.alert-secondary</code>
    <div class="mt-sm">
      <div class="alert text-sm alert-secondary mb-0">Code never lies, comments sometimes do</div>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.alert-success</code>
    <div class="mt-sm">
      <div class="alert text-sm alert-success mb-0">Code never lies, comments sometimes do</div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.alert-info</code>
    <div class="mt-sm">
      <div class="alert text-sm alert-info mb-0">Code never lies, comments sometimes do</div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.alert-warning</code>
    <div class="mt-sm">
      <div class="alert text-sm alert-warning mb-0">Code never lies, comments sometimes do</div>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.alert-danger</code>
    <div class="mt-sm">
      <div class="alert text-sm alert-danger mb-0">Code never lies, comments sometimes do</div>
    </div>
  </div>
</div>

<pre class="mb-md"><code class="language-html">&lt;div class="alert .modifier">Text&lt;/div&gt;</code></pre>

<h4>Alert variables</h4>

<pre class="mb-md variables"><code class="language-css">--alert-border-radius: var(--component-border-radius);
--alert-border-width: 1px;
--alert-padding-x: var(--component-padding-x);
--alert-padding-y: var(--component-padding-y);

/* Default */
--alert-bg-color: var(--color-silver);
--alert-color: var(--color-navy);
--alert-border-color: var(--color-black-alpha-20);

/* Primary */
--alert-bg-color-primary: var(--state-primary);
--alert-color-primary: var(--color-navy);
--alert-border-color-primary: var(--color-black-alpha-20);

... (Secondary, Success, Info, Warning, Danger)
</code></pre>