<h2 id="badges">Badges</h2>

<div class="row">
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">default</code>
    <div class="mt-sm">
      <span class="badge">Static</span>
      <a href="#" class="badge">Anchor</a>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.badge-primary</code>
    <div class="mt-sm">
      <span class="badge badge-primary">Static</span>
      <a href="#" class="badge badge-primary">Anchor</a>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.badge-secondary</code>
    <div class="mt-sm">
      <span class="badge badge-secondary">Static</span>
      <a href="#" class="badge badge-secondary">Anchor</a>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.badge-info</code>
    <div class="mt-sm">
      <span class="badge badge-info">Static</span>
      <a href="#" class="badge badge-info">Anchor</a>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.badge-success</code>
    <div class="mt-sm">
      <span class="badge badge-success">Static</span>
      <a href="#" class="badge badge-success">Anchor</a>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.badge-warning</code>
    <div class="mt-sm">
      <span class="badge badge-warning">Static</span>
      <a href="#" class="badge badge-warning">Anchor</a>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.badge-danger</code>
    <div class="mt-sm">
      <span class="badge badge-danger">Static</span>
      <a href="#" class="badge badge-danger">Anchor</a>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.badge-light</code>
    <div class="mt-sm">
      <span class="badge badge-light">Static</span>
      <a href="#" class="badge badge-light">Anchor</a>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.badge-dark</code>
    <div class="mt-sm">
      <span class="badge badge-dark">Static</span>
      <a href="#" class="badge badge-dark">Anchor</a>
    </div>
  </div>
</div>

<pre class="mb-md"><code class="language-html">&lt;span class="badge .modifier"&gt;Static&lt;/span&gt;
&lt;a href="" class="badge .modifier"&gt;Anchor&lt;/a&gt;</code></pre>

<h4>Badge variables</h4>

<pre class="mb-md variables"><code class="language-css">--badge-font-size: .8em;
--badge-border-radius: 1em;
--badge-focus-width: var(--component-focus-width);
--badge-speed: var(--component-speed);

/* Default */
--badge-color: var(--color-navy);
--badge-bg-color: var(--color-white);
--badge-color-hover: var(--badge-color);
--badge-bg-color-hover: var(--badge-bg-color);

/* Primary */
--badge-color-primary: var(--color-white);
--badge-bg-color-primary: var(--state-primary);
--badge-color-hover-primary: var(--badge-color-primary);
--badge-bg-color-hover-primary: var(--badge-bg-color-primary);

... (Secondary, Success, Info, Warning, Danger, Light, Dark)
</code></pre>