<h2 id="buttons">Buttons</h2>

<div class="row">
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">default</code>
    <div class="mt-sm">
      <a role="button" class="btn mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn">Button</button>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm text-info">:disabled</code>
    <div class="mt-sm">
      <a role="button" class="btn mr-xs" disabled tabindex="0">Anchor</a>
      <button type="button" class="btn" disabled>Button</button>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.disabled</code>
    <div class="mt-sm">
      <a role="button" class="btn disabled mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn disabled">Button</button>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-primary</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-primary mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-primary">Button</button>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-secondary</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-secondary mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-secondary">Button</button>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-success</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-success mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-success">Button</button>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-info</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-info mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-info">Button</button>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-warning</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-warning mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-warning">Button</button>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-danger</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-danger mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-danger">Button</button>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-light</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-light mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-light">Button</button>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-dark</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-dark mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-dark">Button</button>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-minimal</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-minimal mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-minimal">Button</button>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.active</code>
    <div class="mt-sm">
      <a role="button" class="btn active mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn active">Button</button>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-lg</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-lg mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-lg">Button</button>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-sm</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-sm mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-sm">Button</button>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-loader</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-loader mr-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-loader">Button</button>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.btn-icon-only</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-icon-only mr-xs" tabindex="0"><i class="material-icons text-lg">settings</i></a>
      <button type="button" class="btn btn-icon-only"><i class="material-icons text-lg">settings</i></button>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">`with icon`</code>
    <div class="mt-sm">
      <a role="button" class="btn mr-xs" tabindex="0"><i class="material-icons mr-xs text-lg">settings</i>Anchor</a>
      <button type="button" class="btn"><i class="material-icons mr-xs text-lg">settings</i>Button</button>
    </div>
  </div>

  <div class="col col-sm-12 mb-lg">
    <code class="text-sm">.btn-block</code>
    <div class="mt-sm">
      <a role="button" class="btn btn-block mb-xs" tabindex="0">Anchor</a>
      <button type="button" class="btn btn-block">Button</button>
    </div>
  </div>
</div>

<pre
  class="mb-md"><code class="language-html">&lt;a role="button" class="btn .modifier" :modifier tabindex="0">Anchor&lt;/a&gt;
&lt;button type="button" class="btn .modifier" :modifier&gt;Button&lt;/button&gt;

&lt;a role="button" class="btn .modifier" :modifier tabindex="0"&gt;&lt;i class="material-icons mr-xs"&gt;settings&lt;/i&gt;Anchor&lt;/a&gt;
&lt;button type="button" class="btn .modifier" :modifier&gt;&lt;i class="material-icons mr-xs"&gt;settings&lt;/i&gt;Button&lt;/button&gt;</code></pre>

<h4>Button variables</h4>

<pre class="mb-md variables"><code class="language-css">--button-height-xs: var(--input-height-xs);
--button-height-sm: var(--input-height-sm);
--button-height: var(--input-height);
--button-height-lg: var(--input-height-lg);
--button-height-xl: var(--input-height-xl);
--button-font-size-xs: var(--input-font-size-xs);
--button-font-size-sm: var(--input-font-size-sm);
--button-font-size: var(--input-font-size);
--button-font-size-lg: var(--input-font-size-lg);
--button-font-size-xl: var(--input-font-size-xl);
--button-font-family: var(--input-font-family);
--button-font-weight: var(--input-font-weight);
--button-border-radius: var(--component-border-radius);
--button-border-width: var(--component-border-width);
--button-focus-width: var(--component-focus-width);
--button-speed: var(--component-speed); /* Transition speed for bg and border */
--button-loader-size: 1em;
--button-loader-border-width: .15em;
--button-line-height: 1.5em;

/* Default */
--button-color: var(--color-navy);
--button-bg-color: var(--color-white);
--button-border-color: var(--color-black-alpha-20);
--button-color-hover: var(--button-color);
--button-bg-color-hover: var(--button-bg-color);
--button-border-color-hover: var(--button-border-color);
--button-color-active: var(--button-color);
--button-bg-color-active: var(--button-bg-color);
--button-border-color-active: var(--button-border-color);
--button-color-disabled: var(--color-disabled);
--button-bg-color-disabled: var(--color-disabled-bg);
--button-border-color-disabled: var(--color-disabled-border);

/* Primary */
--button-color-primary: var(--color-white);
--button-bg-color-primary: var(--state-primary);
--button-border-color-primary: var(--color-black-alpha-20);
--button-color-hover-primary: var(--button-color-primary);
--button-bg-color-hover-primary: var(--button-bg-color-primary);
--button-border-color-hover-primary: var(--button-border-color-primary);
--button-color-active-primary: var(--button-color-primary);
--button-bg-color-active-primary: var(--button-bg-color-primary);
--button-border-color-active-primary: var(--button-border-color-primary);

... (Secondary, Success, Info, Warning, Danger)

/* Light */
--button-color-light: var(--color-navy);
--button-bg-color-light: var(--color-black-alpha-10);
--button-color-light-hover: var(--button-color-light);
--button-bg-color-light-hover: var(--color-black-alpha-20);

/* Dark */
--button-color-dark: var(--color-white);
--button-bg-color-dark: var(--color-navy);
--button-color-dark-hover: var(--button-color-dark);
--button-bg-color-dark-hover: var(--button-bg-color-dark);

/* Minimal */
--button-minimal-color: var(--color-navy);
--button-minimal-bg-color: transparent;
--button-minimal-color-hover: var(--button-minimal-color);
--button-minimal-bg-color-hover: var(--color-black-alpha-10);
</code></pre>