<h2 id="checkboxes">Checkboxes</h2>

<div class="row">
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">default</code>
    <div class="mt-sm">
      <div class="checkbox">
        <input type="checkbox" />
        <label>Checkbox</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm text-info">:checked</code>
    <div class="mt-sm">
      <div class="checkbox">
        <input type="checkbox" checked />
        <label>Checkbox</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm text-info">:disabled</code>
    <div class="mt-sm">
      <div class="checkbox">
        <input type="checkbox" disabled />
        <label>Checkbox</label>
      </div>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.checkbox-primary</code>
    <div class="mt-sm">
      <div class="checkbox checkbox-primary">
        <input type="checkbox" />
        <label>Checkbox</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.checkbox-secondary</code>
    <div class="mt-sm">
      <div class="checkbox checkbox-secondary">
        <input type="checkbox" />
        <label>Checkbox</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.checkbox-success</code>
    <div class="mt-sm">
      <div class="checkbox checkbox-success">
        <input type="checkbox" />
        <label>Checkbox</label>
      </div>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.checkbox-info</code>
    <div class="mt-sm">
      <div class="checkbox checkbox-info">
        <input type="checkbox" />
        <label>Checkbox</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.checkbox-warning</code>
    <div class="mt-sm">
      <div class="checkbox checkbox-warning">
        <input type="checkbox" />
        <label>Checkbox</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.checkbox-danger</code>
    <div class="mt-sm">
      <div class="checkbox checkbox-danger">
        <input type="checkbox" />
        <label>Checkbox</label>
      </div>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.checkbox-sm</code>
    <div class="mt-sm">
      <div class="checkbox checkbox-sm">
        <input type="checkbox" />
        <label>Checkbox</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.checkbox-lg</code>
    <div class="mt-sm">
      <div class="checkbox checkbox-lg">
        <input type="checkbox" />
        <label>Checkbox</label>
      </div>
    </div>
  </div>
</div>

<pre class="mb-md"><code class="language-html">&lt;div class="checkbox .modifier"&gt;
  &lt;input type="checkbox" :modifier /&gt;
  &lt;label&gt;Checkbox&lt;/label&gt;
&lt;/div&gt;</code></pre>

<h4>Checkboxes variables</h4>
<pre class="mb-md variables"><code class="language-css">--checkbox-color: var(--color-white);
--checkbox-color-disabled: var(--color-disabled);
--checkbox-bg: var(--color-white);
--checkbox-bg-hover: var(--color-silver);
--checkbox-bg-disabled: var(--state-default);
--checkbox-border-width: var(--component-border-width);
--checkbox-border-color: var(--color-black-alpha-40);
--checkbox-border-radius: var(--component-border-radius);
--checkbox-speed: var(--component-speed); /* Transition speed for bg and border */
--checkbox-size: 1.25rem;
--checkbox-offset-top: .15rem;

/* XS */
--checkbox-size-xs: 0.7rem;
--checkbox-offset-top-xs: -.16rem;

/* SM */
--checkbox-size-sm: 0.9rem;
--checkbox-offset-top-sm: -.09rem;

/* LG */
--checkbox-size-lg: 1.5rem;
--checkbox-offset-top-lg: .28rem;

/* XL */
--checkbox-size-xl: 1.8rem;
--checkbox-offset-top-xl: .44rem;

/* Default */
--checkbox-color-checked: var(--color-white);
--checkbox-bg-checked: var(--color-navy);

/* Primary */
--checkbox-color-checked-primary: var(--color-white);
--checkbox-bg-checked-primary: var(--state-primary);

... (Secondary, Success, Info, Warning, Danger)
</code></pre>