<h2 id="installation">Installation</h2>
<p>To install the stable version:</p>

<pre class="mb-md"><code class="language-bash">npm install --save chipolette</code></pre>

<p>and just import LESS version like so</p>

<pre class="mb-md"><code class="language-css">@import '../node_modules/chipolette/src/chipolette.less';
// or CSS version
@import '../node_modules/chipolette/dist/chipolette.min.css';</code></pre>

<p>This assumes you are using <a href="https://www.npmjs.com/" target="_blank">npm</a> as your package manager.</p>

<p>If you’re not, you can <a href="https://unpkg.com/chipolette@latest/dist/chipolette.min.css" target="_blank">access it on unpkg</a> like so</p>

<pre class="mb-md"><code class="language-html">&lt;link rel="stylesheet" href="https://unpkg.com/chipolette@latest/dist/chipolette.css" /&gt;</code></pre>

<h4>Browser Compatibility</h4>
<p>Every evergreen browser and older ones that support CSS variables. But for older IE versions (and other outdated
browsers) there is a polyfill.</p>
