<h2 id="navbars">Navbars</h2>

<nav class="navbar mb-md">
  <div class="navbar-group align-left">
    <div class="navbar-heading">Chipolette</div>
    <input class="input" placeholder="Search files..." type="text" />
  </div>
  <div class="navbar-group hide-md align-right">
    <button class="btn btn-minimal text-md"><i class="material-icons pr-xs text-lg">home</i>Home</button>
    <span class="navbar-divider"></span>
    <button class="btn btn-minimal icon-only"><i class="material-icons text-lg">account_circle</i></button>
    <button class="btn btn-minimal icon-only"><i class="material-icons text-lg">notifications</i></button>
    <button class="btn btn-minimal icon-only"><i class="material-icons text-lg">settings</i></button>
  </div>
</nav>

<pre class="mb-md"><code class="language-html">&lt;nav class="navbar"&gt;
  &lt;div class="navbar-group align-left"&gt;
    &lt;div class="navbar-heading"&gt;Chipolette&lt;/div&gt;
    &lt;input class="input" placeholder="Search files..." type="text" /&gt;
  &lt;/div&gt;
  &lt;div class="navbar-group align-right"&gt;
    &lt;button class="btn btn-minimal text-md"&gt;
      &lt;i class="material-icons pr-xs text-lg"&gt;home&lt;/i&gt;Home&lt;/button&gt;
    &lt;span class="navbar-divider"&gt;&lt;/span&gt;
    &lt;button class="btn btn-minimal icon-only"&gt;
      &lt;i class="material-icons text-lg"&gt;account_circle&lt;/i&gt;&lt;/button&gt;
    &lt;button class="btn btn-minimal icon-only"&gt;
      &lt;i class="material-icons text-lg"&gt;notifications&lt;/i&gt;&lt;/button&gt;
    &lt;button class="btn btn-minimal icon-only"&gt;
      &lt;i class="material-icons text-lg"&gt;settings&lt;/i&gt;&lt;/button&gt;
  &lt;/div&gt;
&lt;/nav&gt;</code></pre>

<h4>Navbar variables</h4>

<pre class="mb-md variables"><code class="language-css">--navbar-bg-color: var(--color-white);
--navbar-padding: var(--grid-gutter-width);
--navbar-height: 3.4rem;
--navbar-border-radius: var(--border-radius);
--navbar-elevation-shadow: var(--elevation-shadow-1);
</code></pre>