<h2 id="progress-bars">Progress bars</h2>

<div class="row">
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">default</code>
    <div class="mt-sm">
      <div class="progress">
        <div class="progress-bar w-50">50%</div>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">default without text</code>
    <div class="mt-sm">
      <div class="progress">
        <div class="progress-bar w-50"></div>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.progress-indeterminate</code>
    <div class="mt-sm">
      <div class="progress progress-indeterminate">
        <div class="progress-bar"></div>
      </div>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.progress-primary</code>
    <div class="mt-sm">
      <div class="progress progress-primary">
        <div class="progress-bar w-50"></div>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.progress-secondary</code>
    <div class="mt-sm">
      <div class="progress progress-secondary">
        <div class="progress-bar w-50"></div>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.progress-info</code>
    <div class="mt-sm">
      <div class="progress progress-info">
        <div class="progress-bar w-50"></div>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.progress-success</code>
    <div class="mt-sm">
      <div class="progress progress-success">
        <div class="progress-bar w-50"></div>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.progress-warning</code>
    <div class="mt-sm">
      <div class="progress progress-warning">
        <div class="progress-bar w-50"></div>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.progress-danger</code>
    <div class="mt-sm">
      <div class="progress progress-danger">
        <div class="progress-bar w-50"></div>
      </div>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.progress-xs</code>
    <div class="mt-sm">
      <div class="progress progress-xs">
        <div class="progress-bar w-50"></div>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.progress-xl</code>
    <div class="mt-sm">
      <div class="progress progress-xl">
        <div class="progress-bar w-50"></div>
      </div>
    </div>
  </div>
</div>

<pre class="mb-md"><code class="language-html">&lt;div class="progress .modifier"&gt;
  &lt;div class="progress-bar w-50"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h4>Progress bars variables</h4>

<pre class="mb-md variables"><code class="language-css">--progress-height: 1.4rem;
--progress-height-xs: .75rem;
--progress-height-sm: 1.2rem;
--progress-height-lg: 1.6rem;
--progress-height-xl: 2rem;
--progress-font-size: var(--input-font-size);
--progress-font-size-xs: var(--input-font-size-xs);
--progress-font-size-sm: var(--input-font-size-sm);
--progress-font-size-lg: var(--input-font-size-lg);
--progress-font-size-xl: var(--input-font-size-xl);
--progress-color: var(--color-white);
--progress-bg-color: var(--component-bg-color);
--progress-bar-color: var(--state-primary);
--progress-border-radius: var(--component-border-radius);
--progress-box-shadow: var(--component-box-shadow-inner);
--progress-speed: var(--component-speed);
--progress-speed-indeterminate: 3s;
</code></pre>