<h2 id="radios">Radios</h2>

<div class="row">
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">default</code>
    <div class="mt-sm">
      <div class="radio">
        <input type="radio" />
        <label>Radio</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm text-info">:checked</code>
    <div class="mt-sm">
      <div class="radio">
        <input type="radio" checked />
        <label>Radio</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm text-info">:disabled</code>
    <div class="mt-sm">
      <div class="radio">
        <input type="radio" disabled />
        <label>Radio</label>
      </div>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.radio-primary</code>
    <div class="mt-sm">
      <div class="radio radio-primary">
        <input type="radio" />
        <label>Radio</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.radio-secondary</code>
    <div class="mt-sm">
      <div class="radio radio-secondary">
        <input type="radio" />
        <label>Radio</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.radio-success</code>
    <div class="mt-sm">
      <div class="radio radio-success">
        <input type="radio" />
        <label>Radio</label>
      </div>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.radio-info</code>
    <div class="mt-sm">
      <div class="radio radio-info">
        <input type="radio" />
        <label>Radio</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.radio-warning</code>
    <div class="mt-sm">
      <div class="radio radio-warning">
        <input type="radio" />
        <label>Radio</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.radio-danger</code>
    <div class="mt-sm">
      <div class="radio radio-danger">
        <input type="radio" />
        <label>Radio</label>
      </div>
    </div>
  </div>

  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.radio-sm</code>
    <div class="mt-sm">
      <div class="radio radio-sm">
        <input type="radio" />
        <label>Radio</label>
      </div>
    </div>
  </div>
  <div class="col col-sm-4 mb-lg">
    <code class="text-sm">.radio-lg</code>
    <div class="mt-sm">
      <div class="radio radio-lg">
        <input type="radio" />
        <label>Radio</label>
      </div>
    </div>
  </div>
</div>

<pre class="mb-md"><code class="language-html">&lt;div class="radio .modifier"&gt;
  &lt;input type="radio" :modifier /&gt;
  &lt;label&gt;Radio&lt;/label&gt;
&lt;/div&gt;</code></pre>

<h4>Radio variables</h4>
<pre class="mb-md variables"><code class="language-css">--radio-color: var(--color-white);
--radio-color-disabled: var(--color-disabled);
--radio-bg: var(--color-white);
--radio-bg-hover: var(--color-silver);
--radio-bg-disabled: var(--state-default);
--radio-border-width: var(--component-border-width);
--radio-border-color: var(--color-black-alpha-40);
--radio-speed: var(--component-speed); /* Transition speed for bg and border */
--radio-size: 20px;
--radio-offset-top: 2px;

/* XS */
--radio-size-xs: 10px;
--radio-offset-top-xs: -3px;

/* SM */
--radio-size-sm: 15px;
--radio-offset-top-sm: 0;

/* LG */
--radio-size-lg: 25px;
--radio-offset-top-lg: 5px;

/* XL */
--radio-size-xl: 30px;
--radio-offset-top-xl: 7px;

/* Default */
--radio-color-checked: var(--color-white);
--radio-bg-checked: var(--color-navy);

/* Primary */
--radio-color-checked-primary: var(--color-white);
--radio-bg-checked-primary: var(--state-primary);

... (Secondary, Success, Info, Warning, Danger)
</code></pre>