/*! Buttons */

.outline {
  outline: none;
  // outline-width: 2px;
  // outline-offset: 2px;
  // outline-color: rgba(0, 114, 214, 0.4);
  // outline-style: solid;
}

button,
.button {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: var(--button-border-color);
  height: var(--button-height);
  line-height: calc(var(--button-height) - var(--button-border-width) * 2);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 .75em; /* ems for relative sizing */
  cursor: pointer;
  display: inline-block;
  transition: var(--button-speed) color, var(--button-speed) background;
  box-shadow: inset 0 -40px 50px -50px rgba(0, 0, 0, 0.2);

  &:focus {
    .outline;
  }

  &:hover {
    color: var(--button-color-hover);
    text-decoration: none;
    background-color: var(--button-bg-color-hover);
    border-color: var(--button-border-color-hover);
    box-shadow: inset 0 -1000px rgba(0, 0, 0, 0.05);
  }

  &:active,
  &.active {
    color: var(--button-color-active);
    background-color: var(--button-bg-color-active);
    border-color: var(--button-border-color-active);
    transform: translate(0, 1px) scale(0.99);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 -1000px rgba(0, 0, 0, 0.2);
  }

  /* Sizes */
  &.button-xs {
    font-size: var(--button-font-size-xs);
    height: var(--button-height-xs);
    line-height: calc(var(--button-height-xs) - var(--button-border-width) * 2);
  }

  &.button-sm {
    font-size: var(--button-font-size-sm);
    height: var(--button-height-sm);
    line-height: calc(var(--button-height-sm) - var(--button-border-width) * 2);
  }

  &.button-lg {
    font-size: var(--button-font-size-lg);
    height: var(--button-height-lg);
    line-height: calc(var(--button-height-lg) - var(--button-border-width) * 2);
  }

  &.button-xl {
    font-size: var(--button-font-size-xl);
    height: var(--button-height-xl);
    line-height: calc(var(--button-height-xl) - var(--button-border-width) * 2);
  }

  /* Variations */
  &.intent-primary {
    color: var(--button-color-primary);
    background-color: var(--button-bg-color-primary);
    border-color: var(--button-border-color-primary);

    &:hover {
      color: var(--button-color-hover-primary);
      background-color: var(--button-bg-color-hover-primary);
      border-color: var(--button-border-color-hover-primary);
    }

    &:active,
    &.active {
      color: var(--button-color-active-primary);
      background-color: var(--button-bg-color-active-primary);
      border-color: var(--button-border-color-active-primary);
    }
  }

  &.intent-success {
    color: var(--button-color-success);
    background-color: var(--button-bg-color-success);
    border-color: var(--button-border-color-success);

    &:hover {
      color: var(--button-color-hover-success);
      background-color: var(--button-bg-color-hover-success);
      border-color: var(--button-border-color-hover-success);
    }

    &:active,
    &.active {
      color: var(--button-color-active-success);
      background-color: var(--button-bg-color-active-success);
      border-color: var(--button-border-color-active-success);
    }
  }

  &.intent-info {
    color: var(--button-color-info);
    background-color: var(--button-bg-color-info);
    border-color: var(--button-border-color-info);

    &:hover {
      color: var(--button-color-hover-info);
      background-color: var(--button-bg-color-hover-info);
      border-color: var(--button-border-color-hover-info);
    }

    &:active,
    &.active {
      color: var(--button-color-active-info);
      background-color: var(--button-bg-color-active-info);
      border-color: var(--button-border-color-active-info);
    }
  }

  &.intent-warning {
    color: var(--button-color-warning);
    background-color: var(--button-bg-color-warning);
    border-color: var(--button-border-color-warning);

    &:hover {
      color: var(--button-color-hover-warning);
      background-color: var(--button-bg-color-hover-warning);
      border-color: var(--button-border-color-hover-warning);
    }

    &:active,
    &.active {
      color: var(--button-color-active-warning);
      background-color: var(--button-bg-color-active-warning);
      border-color: var(--button-border-color-active-warning);
    }
  }

  &.intent-danger {
    color: var(--button-color-danger);
    background-color: var(--button-bg-color-danger);
    border-color: var(--button-border-color-danger);

    &:hover {
      color: var(--button-color-hover-danger);
      background-color: var(--button-bg-color-hover-danger);
      border-color: var(--button-border-color-hover-danger);
    }

    &:active,
    &.active {
      color: var(--button-color-active-danger);
      background-color: var(--button-bg-color-active-danger);
      border-color: var(--button-border-color-active-danger);
    }
  }

  &:disabled:hover,
  &.disabled:hover,
  &:disabled:active,
  &.disabled:active,
  &:disabled:focus,
  &.disabled:focus,
  &:disabled,
  &.disabled {
    color: var(--button-color-disabled);
    background-color: var(--button-bg-color-disabled);
    border-color: var(--button-border-color-disabled);
    box-shadow: none;
    text-decoration: none;
    opacity: .5;
    cursor: not-allowed;
    transform: none;
  }

  /* Block buttons */
  &.button-block {
    width: 100% !important;
    display: block;
  }

  /* Link buttons */
  &.button-link {
    border-color: transparent;
    background-color: transparent;
    color: var(--link-color);
    text-decoration: var(--link-text-decoration);
    box-shadow: none;
  }

  &.button-link:hover,
  &.button-link:focus {
    border-color: transparent;
    background-color: transparent;
    color: var(--link-color-hover);
    text-decoration: var(--link-text-decoration-hover);
    box-shadow: none;
  }
}

/* Loader buttons */
.button-loader,
.button-loader:hover {
  position: relative;
  min-width: calc(var(--button-loader-size) * 2);
  color: transparent !important;
  overflow: hidden;
}

.button-loader::after {
  content: '';
  position: absolute;
  top: calc(50% - calc(var(--button-loader-size) / 2));
  left: calc(50% - calc(var(--button-loader-size) / 2));
  width: var(--button-loader-size);
  height: var(--button-loader-size);
  border-radius: 50%;
  border: solid var(--button-loader-border-width) var(--button-color);
  border-right-color: rgba(0,0,0,0.1) !important;
  border-top-color: rgba(0,0,0,0.1) !important;
  border-left-color: rgba(0,0,0,0.1) !important;
  display: inline-block;
  animation: button-loader var(--loader-speed) linear infinite;
}

.intent-primary.button-loader::after {
  border-color: var(--button-color-primary);
}

.intent-success.button-loader::after {
  border-color: var(--button-color-success);
}

.intent-info.button-loader::after {
  border-color: var(--button-color-info);
}

.intent-warning.button-loader::after {
  border-color: var(--button-color-warning);
}

.intent-danger.button-loader::after {
  border-color: var(--button-color-danger);
}

.button-loader.disabled::after,
.button-loader:disabled::after {
  border-color: var(--button-color-disabled);
}

@keyframes button-loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}